body{
    padding: 0;
    margin: 0;
background-image:
linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)), url(img/img..student.avif);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
    background-attachment: fixed;


    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    margin-top: 45px;
}